################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.sln
/fabricreator-storybook/node_modules
/fabricreator-storybook/build/lib
*.njsproj
/fabricreator-faker/build/lib
/fabricreator-faker/node_modules
/fabricreator/node_modules
/fabricreator/build/lib
/fabreactor/build/lib
/fabreactor/node_modules
/fabreactor-storybook/build/lib
/fabreactor-storybook/node_modules
/fabreactor-faker/build/lib
/fabreactor-faker/node_modules
